body{
    background-image: url(../images/background.png);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'ABeeZee', sans-serif;
    color: #fff;

}

#button-div{
    background: rgb(3,3,3);
    background: linear-gradient(284deg, rgba(3,3,3,1) 0%, rgba(155,119,203,1) 56%, rgba(193,207,230,1) 100%);
}

#search-term{
    background-color: rgba(3,3,3,1);
    color: rgba(193,207,230,1);
}

.btn{
    background-color: rgba(155,119,203,1);
    color: rgba(3,3,3,1);
}

.gif-button{
    background-color: rgba(3,3,3,1);
    color: rgba(193,207,230,1);

}
.jumbotron{
    background: #121212;
}